pipeline/users.json
{
	"name": "users",
	"properties": {
		"activities": [
			{
				"name": "For Each endpoint",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Authorization Key",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get User token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.endpoint",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy users data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:01.000",
									"requestMethod": "GET",
									"additionalHeaders": {
										"Authorization": {
											"value": "@activity('Get Authorization Key').output.value",
											"type": "Expression"
										}
									},
									"paginationRules": {
										"AbsoluteUrl": "$.next"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Rest_source",
									"type": "DatasetReference",
									"parameters": {
										"userToken": {
											"value": "@activity('Get User token').output.value",
											"type": "Expression"
										},
										"userEndpoint": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Rest_target",
									"type": "DatasetReference",
									"parameters": {
										"datasetName": {
											"value": "@item()",
											"type": "Expression"
										},
										"fileName": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Get Authorization Key",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat(pipeline().parameters.KeyVaultBaseUrl, 'secrets/rebrickable-authorization/?api-version=7.0')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Get User token",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat(pipeline().parameters.KeyVaultBaseUrl, 'secrets/rebrickable-usertoken/?api-version=7.0')\n",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"parameters": {
			"endpoint": {
				"type": "array",
				"defaultValue": [
					"allparts",
					"lost_parts",
					"minifigs",
					"partlists",
					"parts",
					"profile",
					"setlists",
					"sets"
				]
			},
			"KeyVaultBaseUrl": {
				"type": "string",
				"defaultValue": "https://keyvault-dev-1.vault.azure.net/"
			}
		},
		"annotations": []
	}
}