pipeline/Users.json
{
	"name": "Users",
	"properties": {
		"activities": [
			{
				"name": "For Each endpoint",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.endpoint",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Authorization Key",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": true,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": "https://keyvault-dev-1.vault.azure.net/secrets/rebrickable-authorization/?api-version=7.0",
								"authentication": {
									"type": "MSI",
									"resource": "https://vault.azure.net"
								}
							}
						},
						{
							"name": "Copy users data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Get Authorization Key",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Get User token",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"additionalHeaders": {
										"Authorization": {
											"value": "@activity('Get Authorization Key').output.value",
											"type": "Expression"
										}
									},
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Rest_source",
									"type": "DatasetReference",
									"parameters": {
										"userToken": {
											"value": "@activity('Get User token').output",
											"type": "Expression"
										},
										"userEndpoint": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Rest_target",
									"type": "DatasetReference",
									"parameters": {
										"datasetName": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Get User token",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": true,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": "https://keyvault-dev-1.vault.azure.net/secrets/rebrickable-usertoken/?api-version=7.0",
								"authentication": {
									"type": "MSI",
									"resource": "https://vault.azure.net"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"endpoint": {
				"type": "array",
				"defaultValue": [
					"allparts",
					"lost_parts",
					"mini_figs",
					"partlists",
					"parts",
					"profile",
					"setlists",
					"sets",
					"badges"
				]
			}
		},
		"annotations": []
	}
}